* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  padding: 0 100px;
  z-index: 10;
}
section {
  width: 100%;
  height: calc(100% - 102px);
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  /* background-color: yellow; */
}
.logo {
  display: flex;
}
.logo img {
  width: 90px;
}
.logo h4 {
  font-weight: 400;
  font-size: 14px;
  font-family: serif;
  padding: 5px 10px;
  background-color: #edded5;
  border-radius: 30px;
  margin-left: 20px;
}
.menu {
  padding-right: 70px;
}
.menu a {
  margin: 20px;
  text-decoration: none;
  color: black;
  position: relative;
}
.menu a::after {
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: all ease 0.4s;
}
.menu a:hover::after {
  width: 100%;
}
.menu a:nth-child(6):hover::after {
  width: 0%;
}
.menu span {
  background-color: #edded5;
  padding: 2px 4px;
  border-radius: 10px;
}

.menu button {
  background-color: transparent;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: serif;
  font-size: 16px;
  font-weight: 300;
  margin-left: 15px;
  transition: all ease 0.4s;
}
.menu button:hover {
  background-color: black;
  color: white;
}

header hr {
  opacity: 0.2;
}

.hero {
  padding-top: 200px;
}
.hero h1 {
  font-size: 100px;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 100px;
}
.hero p {
  font-size: 24px;
  font-family: serif;
  padding: 30px 0;
  line-height: 36px;
}
.hero button {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px 24px;
  font-family: sans-serif;
  font-size: 16px;
}
.hero button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  outline: none;
}

.marquee {
  height: 100px;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.mark-img {
  display: flex;

  animation-name: logomove;
  animation-duration: 20s;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.mark-img img {
  display: flex;
  height: 40px;
  margin-right: 100px;
}

@keyframes logomove {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.cards {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.box {
  padding: 30px 50px;
  height: 400px;
  width: 300px;
  background-color: #f4f4f5;
}
.box h2 {
  font-size: 28px;
  font-weight: 300;
  font-family: serif;
  padding: 20px 0;
}
.box p {
  font-size: 18px;
  font-weight: 400;
  font-family: serif;
  line-height: 30px;
  color: #52525c;
  padding-bottom: 30px;
}
.box span {
  font-size: 16px;
  font-weight: 400;
  font-family: serif;
  text-decoration: underline;
}
.sub-heading {
  margin-bottom: 36px;
}
.sub-heading p {
  font-size: 12px;
  font-weight: 300;
  font-family: serif;
  margin-bottom: 20px;
}
.page3 {
  height: 100%;
  width: 100%;
}
.card-section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 1fr 5%;
  grid-template-areas:
    "top-heading top-heading"
    "card1 card2"
    "card1-info card2-info";
  gap: 0px 30px;
}

.top-heading {
  grid-area: top-heading;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1 {
  grid-area: card1;
  overflow: hidden;
}
.card1-info {
  grid-area: card1-info;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.card2 {
  grid-area: card2;
  overflow: hidden;
}
.card2-info {
  grid-area: card2-info;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-heading h1 {
  font-size: 54px;
  font-weight: 300;
  font-family: serif;
}
.top-heading button {
  background-color: transparent;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
  transition: all ease 0.4s;
}
.top-heading button:hover {
  background-color: black;
  color: white;
}

.card1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 1s;
}
.card1 img:hover {
  transform: scale(1.1);
}
.card1-info h1 {
  font-size: 20px;
  font-weight: 300;
  font-family: serif;
}
.card1-info button {
  background-color: transparent;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
  transition: all ease 0.4s;
}
.card1-info button:hover {
  background-color: black;
  color: white;
}
.card2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 1s;
}
.card2 img:hover {
  transform: scale(1.1);
}
.page4 {
  height: 100%;
  width: 100%;
  margin-top: 100px;
}
.card-section2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5% 15%;
  grid-template-areas:
    "card3 card4"
    "card3-info card4-info";
  gap: 0px 30px;
}

.card3 {
  grid-area: card3;
  overflow: hidden;
}
.card3-info {
  grid-area: card3-info;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.card4 {
  grid-area: card4;
  overflow: hidden;
}
.card4-info {
  grid-area: card4-info;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: all ease 1s;
}
.card3 img:hover {
  transform: scale(1.1);
}
.card4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card3-info h1 {
  font-size: 20px;
  font-weight: 300;
  font-family: serif;
}
.card3-info button {
  background-color: transparent;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
  transition: all ease 0.4s;
}
.card3-info button:hover {
  background-color: black;
  color: white;
}

.page5 {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}
.page5 .sub-heading p {
  font-family: serif;
  font-size: 16px;
  font-weight: 300;
}
.cards-section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "services brands clients . "
    " . collab approaches philosophy";

  gap: 30px;
  justify-content: center;
}
.cards-section div {
  padding: 50px;
}
.services {
  background-color: #f1f5f9;
  grid-area: services;
}
.brands {
  background-color: #f1f6f5;
  grid-area: brands;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clients {
  background-color: #f8f8f8;
  grid-area: clients;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collab {
  background-color: #f8f8f8;
  grid-area: collab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.approaches {
  background-color: #f8ede3;
  grid-area: approaches;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.philosophy {
  background-color: #fffae7;
  grid-area: philosophy;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services p {
  font-size: 14px;
  font-weight: 300;
  font-family: serif;
}
.services h2 {
  padding: 50px 0;
  font-size: 24px;
  font-weight: 300;
  font-family: serif;
}
.services button {
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 30px;
  font-family: serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
}
.brands h4 {
  font-weight: 300;
  font-size: 14px;
  font-family: serif;
  text-transform: uppercase;
}
.brands h1 {
  font-weight: 300;
  font-size: 20px;
  font-family: serif;
  text-transform: uppercase;
}
.clients h4 {
  font-weight: 300;
  font-size: 14px;
  font-family: serif;
  text-transform: uppercase;
}
.clients h1 {
  font-weight: 300;
  font-size: 20px;
  font-family: serif;
  text-transform: uppercase;
}
.page6 {
  height: 100%;
  width: 100%;
  padding: 100px 0;
}
.content-page {
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 25%;
  flex-direction: column;
}
.content-page h2 {
  font-weight: 300;
  font-size: 50px;
  font-family: serif;
  padding-top: 50px;
}
.para {
  width: 70%;
  display: flex;
  padding-top: 50px;
  gap: 50px;
}
.para p {
  color: oklch(0.442 0.017 285.786);
  font-family: serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
/* .page7 {
  height: 100%;
  width: 100%;
}
.page8 {
  height: 100%;
  width: 100%;
} */

.page9 {
  height: 100%;
  width: 100%;
}
.contact-page {
  height: 80%;
  width: 100%;
  background-color: #f1f6f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 100px 0;
}
.contact-heading {
  font-size: 60px;
  font-weight: 300;
  line-height: 80px;
}
.contact-para {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  padding: 20px 0;
}
.contact-btn {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px 24px;
  font-family: serif;
  font-size: 16px;
  margin-top: 30px;
}
.heading {
  text-align: start;
  padding-left: 100px;
}

.page10 {
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.blog-page {
  width: 100%;
  height: 100%;
}
.blog-heading p {
  font-size: 14px;
  text-transform: uppercase;
}
.blog-cards {
  width: 100%;
  height: 550px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.blog1 {
  width: 350px;
  height: 350px;
}
.blog1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog1 h2 {
  font-family: serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0 20px 0;
}
.blog1 p {
  font-size: 16px;
}

footer {
  height: 70%;
  width: 100%;
}
.foot-section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 80% 10% 10%;
  grid-template-areas:
    "logo-card pages-card cms-card utility-card"
    ". . . ."
    "copyright copyright . privacy";
}
.logo-card {
  grid-area: logo-card;
}
.pages-card {
  grid-area: pages-card;
  margin-left: 20px;
}
.cms-card {
  grid-area: cms-card;
  margin-left: 20px;
}
.utility-card {
  grid-area: utility-card;
}
.copyright {
  grid-area: copyright;
}
.privacy {
  grid-area: privacy;
}
.logo-card img {
  width: 100px;
  padding-bottom: 50px;
}
.icons i {
  color: black;
  background-color: #f0f8ff;
  padding: 8px;
  font-weight: 500;
  border-radius: 50%;
  font-size: 18px;
}
.pages-card h2 {
  font-size: 18px;
  font-weight: 400;
  font-family: serif;
  padding-bottom: 15px;
}
.pages-card hr {
  margin-bottom: 15px;
}
.menu-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-card a {
  position: relative;
  width: fit-content;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: serif;
}

.menu-card a::after {
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: all ease 0.4s;
}
.menu-card a:hover::after {
  width: 100%;
  height: 1px;
}

.menu-card button {
  width: 50%;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px 24px;
  font-family: serif;
  font-size: 16px;
}
.cms-card h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-family: serif;
  padding-bottom: 15px;
}
.copyright span {
  color: #9f9fa9;
  font-family: serif;
  font-size: 14px;
  font-weight: 300;
}
.copyright a {
  color: black;
  font-family: serif;
  font-size: 16px;
  font-weight: 300;
}
.privacy {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.privacy span {
  color: #9f9fa9;
  font-family: serif;
  font-size: 14px;
  font-weight: 300;
  text-align: end;
}
